HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
gradle
gradlew
gradlew.bat
!**/src/main/**
!**/src/test/**
bin
*.mv.db

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Java Script ###
node_modules
package-lock.json
build
dist

### Docker ###
jdk/data
